<!DOCTYPE html>
<html>
<title>Arkidia</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./style/style-site.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
<script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/bodymin-animation.min.js" type="text/javascript"></script>
<script src="./js/bodymovin.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<body>
<div id="app">

  <header class="pantalla-completa" id="index"> 
    <nav class="navbar navbar-expand-lg navbar-light menu-style fixed-top">
      <a class="navbar-brand" href="SitioHijo.html">
          <img src="./images/logo.png" width="150px" alt="Arkidia">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li v-if="logged" class="nav-item">
            <a class="nav-link" href="#">Perfil</a>
          </li>
          <li v-if="logged" class="nav-item">
            <a class="nav-link" @click="logOut()" href="index.html">Salir</a>
          </li>
          <li v-if="!logged" class="nav-item">
              <a class="nav-link" @click="logOut()" href="index.html">Ir al sitio principal</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>


  <div id="restricted" v-if="!logged" id="notLogged">
      <div class="padding">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
                <img src="images/site/stop.svg" style="width:80%" alt="STOP"/>
            </div>
            <div class="col-sm-6" style="align-self: center">
                <h1 class="titulo">Acceso restringido a Arkidians</h1>
                <p>Para acceder este contenido necesitás <a class="link" href="index.html">iniciar sesión</a></p>  
            </div>
          </div>
        </div>
      </div>
    </div>

<section v-if="logged && resumenHijos.length==0"  id="noArkidians" style="height: 700px" >
    <div style="display:table-cell; vertical-align: middle; text-align: center" >
      <h1 class="titulo">{{saludo}} {{usuarioHijo}}</h1>
      <h4>Aún no iniciaste ningún curso</h4>
    </div>
</section>

  <section v-if="apiCategorias.length>0 && logged">
      <h1 class="titulo">Categorías</h1>
      <div class="container">
        <div class="row" style="justify-content: center">
          <div v-for="categoria in apiCategorias" :key="categoria.nombre">
            <div class="card categoria" :style="[categoria.styleObject]">
              <img :src="categoria.imagen" width="200px" alt="Arkidia" />
              <div class="card-body">
                <p class="texto-car-categoria">{{ categoria.nombre }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="js/SitioHijo.js" type="text/javascript"></script>

</body>
</html>